@font-iran-sans: 'IRANSansUltraLight';
@font-family-base : @font-iran-sans;
@font-face {
	font-family: @font-iran-sans;
	src:
		url('/../../fonts/IRANSansUltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('/../../fonts/IRANSansUltraLight.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body{
	font-family: @font-iran-sans ,tahoma!important;
}